<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a new Post</title>
     <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <style>
        a{
            text-decoration: none;
        }
    </style>
</head>
<div class="container-fluid bg-dark">
    <a href="/profile" class="display-6 text-white me-5">My Profile</a>
    <a href="/blockedUsers" class="display-6 text-white me-5">Blocked Users</a>
    <a href="/posts" class="display-6 text-white me-5">Posts</a>
    <a href="/add/post" class="display-6 text-white me-5">Add Post</a>
</div>
<body>
    <form method="post" action="/add/post/" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Title:</p>
        <input type="text" name="title"/>
        <p>Content:</p>
        <textarea name="content"></textarea>
        <input type="file" name="file">
        <button type="submit">Submit</button>
    </form>
</body>
</html>